@import "@unocss/reset/tailwind.css";
@unocss all;
@import './prose.css';
@import './theme.css';

html {
  background: var(--c-bg);
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::selection {
  background: #8884;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-scrollbar-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}